<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Upload Image or Video</title>
	</head>
	<body>
		<h1>Upload Image or Video for Seedling Detection</h1>
		<form
			action="/detect_seedlings"
			method="POST"
			enctype="multipart/form-data"
		>
			<input
				type="file"
				name="file"
				accept="image/*,video/*"
				required
			/>
			<button type="submit">Upload</button>
		</form>
	</body>
</html>
